ORACLE_KEYPAIR_PATH=./oracle-keypair.json
SOLANA_RPC_ENDPOINT=https://rpc.magicblock.app/devnet
ER_RPC_ENDPOINT=https://devnet-as.magicblock.app
ANCHOR_PROVIDER_URL=https://rpc.magicblock.app/devnet
ROUTER_ENDPOINT=https://devnet-router.magicblock.app/
